.containerCustomizado{
    border: 3px solid black;
    /* height: 100%; */
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: unset;
}


.arrastavel{
    width: 75px; 
    height: 150px;
    /* border: 2px solid black; */
    background-size: 100% 100%;
    cursor: pointer;
    position: absolute !important;
    left: 100px;
}

.personagem1{
    left: 15px;
}

.personagem2{
    left: 150px;
}


/* .burro{
    background-image: url('./img/burro.png');
}

.shrek{
    background-image: url('./img/shrek.png');
} */

.arrastavel img{
    width: 100%;
    height: 100%;
}

.fundo {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-size: contain; */
}

.img-fundo {
    position: absolute;
    z-index: 1;
}

.balao {
    width: 150px; 
    height: 150px;
}

.txtBalao {
    background: transparent;
    height:50px;
    border:none; 
    outline:none; 
    padding:5px; 
    margin: 15px 0px 0px 13px; 
    resize: none; width:80%; 
    height:50%; 
    overflow-y: hidden; 
    line-height:15px; 
    font-size:14px;
}

.arrastavelBalao{
    width: 100px; 
    height: 90px;
    /* border: 2px solid black; */
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 101;
}

.arrastavelUtensilio{
    width: 125px; 
    height: 125px;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 0;
}

.modal-btn {
    width: auto;
    height: 25px;
}

.modal-utensilio-btn {
    width: auto;
    height: 50px;
}

.operacoesPersonagem {
    position: absolute;
    margin-top: -40px;
  }